<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form method="post" action="/result">
      <input name="search" type="text" id="SearchInput" placeholder="Search" />
      <button type="submit" id="searchformbutton">search</button>
    </form>
    <ul>
      <% for (const res of result){ %>
      <li>Name - <%= res.name %></li>
      <li>Manufacturer - <%= res.manufacturer %></li>
      <li>Price - <%= res.price %></li>
      <li>Pharmacy name - <%= res.pharmname %></li>
      <li>Phone number - <%= res.phone %></li>
      <li>Address - <%= res.address %></li>
      <li>Quantity - <%= res.quantity %></li>
      --------------------------------- <% } %>
    </ul>
  </body>
</html>
